//fonts
$font-primary: Roboto, sans-serif;

//colors
    //background
$back-primary: #f5f6fa;
    //text
$color-primary: #182C61;
$color-secudary: #fff;
    //btn
$button-primary: #44bd32;
$button-secundary: #4cd137;

//brakpoints
$mobile: 767px;
$tablet: 1023px;